.block-hw {
  width: 100%;
  height: 700px;
  padding: 50px;
}


.block-new {
  background-color: red;
  width: 100%;
  height: 700px;
}


.element2 img {
  border: 4px solid #C4C4C4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
