.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.card-product img {
  height: 100%;
  width: 217px;
  object-fit: cover;
}

.card-product {
  overflow: hidden;
  height: 200px;
  width: 420px;
  margin: 8px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;

}


.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #DBBC90;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.btn {
  margin-top: 10px;
}

.card-product-infos .card-price {
  font-size: 32px;
}

h1 {
  font-size: 33px;
  font-family: 'Merriweather', serif;
  color: black;
  margin-bottom: 20px;
}

.prp {
  font-size: 33px;
  font-family: 'Merriweather', serif;
  color: #ED9E00;
  margin-bottom: 20px;
}
