.form-group-new {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: white;
  padding: 30px;
  border: 1px solid #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
